<% content_for :content do %>
<div class="col-12">
    <div class="well">
      <div class="page-header">
        Shlok <small>Signed up</small>
        <h4><% @new_sign_in.email +"," + @new_sign_in.user_name + ','+ @new_sign_in.password_digest %></h4>
      </div>
    </div>
</div>

<% end %>
