<% content_for :error do %>
    <div class="col-6 span-4">


      <div class="alert alert-danger fade in">

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <strong>Error!</strong> <%=@message%>.

      </div>


    </div>

<% end %>
