<br>
<footer>
  <div class="container" id = "footer_container">
    <div class="row">
      <div class = 'col-sm-2'>
        <h6>CopyRight &copy; 2015 Shlok Chaurasia</h6>
      </div>
      <div class = 'col-sm-6'>
        <h6>About Us</h6>
        <p>
          YourDesiGrocery.com is the first comprehensive online grocery store in Varanasi. With over 14,000 products and 1000 brands in our grocery list you will find everything you are looking for. Right from fresh fruits and vegetables, rice and daals, spices and seasonings to packaged bread, bakery and dairy products and other branded foods – we have it all. Save time and money, shop at YouDesiGrocery.com - the best online fruit & vegetable store, meat store, provisions store - an all encompassing online groceries store of India.
        </p>
      </div>
      <div class = 'col-sm-2'>
        <h6>Navigation</h6>
        <ul class="list-unstyled">
          <li><a href ="#">Home</a></li>
          <li><a href ="#">Services</a></li>
          <li><a href ="#">Contact</a></li>
        </ul>
      </div>
      <div class = 'col-sm-2'>
        <h6>Follow Us</h6>
        <ul class="list-unstyled">
          <li><a href ="#">Twitter</a></li>
          <li><a href ="#">Facebook</a></li>
          <li><a href ="#">Google Plus</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>