<footer>
  <div class="container">
    <div class="row">
      <div class = 'col-sm-2'>
        <h6>CopyRight &copy; 2015 Shlok Chaurasia</h6>
      </div>
      <div class = 'col-sm-6'>
        <h6>About Us</h6>
        <p>
          This is a grocery site.This is a grocery site.This is a grocery site.This is a grocery site.
          This is a grocery site.This is a grocery site.This is a grocery site.This is a grocery site.
        </p>
      </div>
      <div class = 'col-sm-2'>
        <h6>Navigation</h6>
        <ul class="list-unstyled">
          <li><a href ="#">Home</a></li>
          <li><a href ="#">Services</a></li>
          <li><a href ="#">Contact</a></li>
        </ul>
      </div>
      <div class = 'col-sm-2'>
        <h6>Follow Us</h6>
        <ul class="list-unstyled">
          <li><a href ="#">Twitter</a></li>
          <li><a href ="#">Facebook</a></li>
          <li><a href ="#">Google Plus</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>